<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="material-icons">spa</i> L'Elang </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= page === 'item' ? 'active' : '' %>">
          <a class="nav-link" href="/item">Item</a>
        </li>
        <li class="nav-item <%= page === 'category' ? 'active' : '' %>">
          <a class="nav-link" href="/category">Category</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="color: aliceblue"> User is Active : <%= sum.length %>
        </li>
      </ul>
    </div>
  </nav>